body {
  background: #6068a0;
  color: white;
}
img {
  width: 100%;
  height: 200px;
}
select {
  height: 50px;
  width: 300px;
  border: none;
  color: gray;
  padding: 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  position: relative;
  right: 250px;
}
footer {
  text-align: center;
  margin-top: 20px;
}
a {
  color: white;
}
a:hover {
  text-decoration: underline;
}
.current h2 {
  padding: 0;
  margin: 50px 0 0;
}
.current h3 {
  padding: 0;
  margin: 0 0 50px;
  text-align: right;
}
.container {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
.wrapper-header {
  background-color: #fab7a7;
  padding-top: 30px;
  color: #473b34;
}
.wrapper-header h1 {
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 50px;
  position: relative;
  left: 380px;
}
.current-time {
  font-weight: 800;
  font-size: 280px;
  line-height: 1;
}
.city {
  background-color: #fab7a7;
  margin: 10px;
  padding: 10px;
  color: #473b34;
}
.city h2 {
  margin-bottom: 0;
  font-size: 30px;
}
.time {
  font-size: 25px;
  text-align: right;
  margin-top: 10px;
}
